/* 
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
*/

.dropbtn {
    width: 19px;
    height: 19px;
    border-radius: 2px;
    background-color: #454545;
    padding: 4px;
    border: 0;
}

.dropdown:hover .dropbtn {
    width: 19px;
    height: 19px;
    border-radius: 2px 2px 0px 0px;
    background-color: white;
    padding: 4px;
    border: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    font-size: 0;
    display: block;
    width: 126px;
    background-color: white;
    padding: 1px;
}

.dropdown-content a {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: solid;
    border-width: 2px;
    border-color: white;
}

.dropdown-content a:hover {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: solid;
    border-width: 2px;
    border-color: black;
}