body,
html {
    overflow: hidden;
}

input[type="number"] {
    background-color: #454545;
    border-radius: 2px;
    color: white;
    border: 0;
}

input[type="text"] {
    background-color: #454545;
    border-radius: 2px;
    color: white;
    border: 0;
}

input:focus {
    background-color: white;
    color: #4b4b4b;
    outline-width: 0;
}

.forDebugging {
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    left: 350px;
}

#topBar {
    background-color: #535353;
    border-bottom: 1px solid #383838;
    position: absolute;
    overflow: hidden;
}

#thinBarButtonGroup {
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #383838;
    margin-bottom: 2px;
}

#rightBar {
    overflow: scroll;
    position: absolute;
    background-color: #535353;
    border-left: 1px solid #383838;
}

.right-bar-submenu {
    border-bottom: 2px solid #4b4b4b;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.right-bar-submenu-header {
    /* background-color: gray; */
    font-size: 12px;
}

.button {
    float: right;
    margin: 6px 6px 0px 0px;
    border-radius: 4px;
    background-color: #535353;
}

.button:hover {
    cursor: pointer;
    float: right;
    margin: 6px 6px 0px 0px;
    border-radius: 4px;
    background-color: #3d3d3d;
}

.button:active {
    float: right;
    margin: 6px 6px 0px 0px;
    border-radius: 4px;
    background-color: #303030;
}

.radio-button-group {
    float: left;
    padding: 2px;
    margin: 6px;
    border: 1px solid #383838;
}

.button-group {
    float: left;
    padding: 2px;
    margin: 6px;
}

.topbar-button {
    float: left;
    margin: 2px 8px 2px 8px;
    border-radius: 4px;
    border: 1px solid rgb(66, 66, 66);
    background-color: #535353;
}

.topbar-button:hover {
    cursor: pointer;
    float: left;
    margin: 2px 8px 2px 8px;
    border-radius: 4px;
    background-color: #3d3d3d;
}

.topbar-button:active {
    float: left;
    margin: 2px 8px 2px 8px;
    border-radius: 4px;
    background-color: #303030;
}

.radio-button {
    float: left;
    margin: 2px;
    border-radius: 4px;
    background-color: #535353;
}

.radio-button:hover {
    cursor: pointer;
    float: left;
    margin: 2px;
    border-radius: 4px;
    background-color: #3d3d3d;
}

.radio-button:active {
    float: left;
    margin: 2px;
    border-radius: 4px;
    background-color: #303030;
}

.radio-button-selected {
    float: left;
    margin: 2px;
    border-radius: 4px;
    background-color: #303030;
}

.radio-button-selected:hover {
    cursor: pointer;
    float: left;
    margin: 2px;
    border-radius: 4px;
    background-color: #303030;
}

.pullCenter {
    cursor: move;
}

/* 
    Color Picker
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover
*/

.color-picker-dropbtn {
    width: 19px;
    height: 19px;
    border-radius: 2px;
    background-color: #454545;
    padding: 4px;
    border: 0;
}

.color-picker-dropdown:hover .color-picker-dropbtn {
    width: 19px;
    height: 19px;
    border-radius: 2px 2px 0px 0px;
    background-color: white;
    padding: 4px;
    border: 0;
}

.color-picker-dropdown {
    position: relative;
    display: inline-block;
}

.color-picker-dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.color-picker-dropdown:hover .color-picker-dropdown-content {
    font-size: 0;
    display: block;
    width: 126px;
    background-color: white;
    padding: 1px;
}

.color-picker-dropdown-content a {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: solid;
    border-width: 2px;
    border-color: white;
}

.color-picker-dropdown-content a:hover {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: solid;
    border-width: 2px;
    border-color: black;
}